<div style="background-color: {{ section.settings.background_color }};">
  <div class="container">
    <div>1</div>
    <div>1</div>
  </div>
  {% comment %} {% render 'search-input' %} {% endcomment %}
</div>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
          "@type": "Organization",
          "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width %}
    "logo": {{ section.settings.logo | image_url: width: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
  {{ settings.social_twitter_link | json }},
  {{ settings.social_facebook_link | json }},
  {{ settings.social_pinterest_link | json }},
  {{ settings.social_instagram_link | json }},
  {{ settings.social_tiktok_link | json }},
  {{ settings.social_tumblr_link | json }},
  {{ settings.social_snapchat_link | json }},
  {{ settings.social_youtube_link | json }},
  {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
    "@context": "http://schema.org",
                  "@type": "WebSite",
                  "name": {{ shop.name | json }},
    "potentialAction": {
                    "@type": "SearchAction",
                    "target": {{ potential_action_target | json }},
    "query-input": "required name=search_term_string"
                  },
                  "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "id": "background_color",
      "default": "#eeeeee",
      "label": "Background color",
      "type": "color"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    }
  ]
}
{% endschema %}
